<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine table</title>
</head>
<body>
<h1>Machine table</h1>

<table>
    <tr>
        <th> Model </th>
        <th> Serial </th>
        <th> Color </th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getSeries()}"></td>
        <td th:text="${car.getColor()}"></td>
    </tr>
</table>
<p th:text="${message}"/>
</body>
</html>
