<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>All users</h1>

<table>
    <tr>
        <th> Name </th>
        <th> Lastname </th>
        <th> Age </th>
        <th> Department </th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getDepartment()}"></td>

    </tr>
</table>

<br>
<input type = "button" value="Add"
onclick="window.location.href = 'addNewUser'"/>
</body>
</html>
